## ML Model Build
---

## Load Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("1_Output/final_df_first_cut.csv")

In [3]:
df.head(2)

,Unnamed: 0,datetime,machineID,volt,rotate,pressure,vibration,errorID_error1,errorID_error2,errorID_error3,...,comp_comp1,comp_comp2,comp_comp3,comp_comp4,age,model_model1,model_model2,model_model3,model_model4,failure
0,0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,18,0,0,1,0,none
1,1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,18,0,0,1,0,none

In [4]:
df = df.drop('Unnamed: 0', axis = 1)

In [5]:
df.head(2)

,datetime,machineID,volt,rotate,pressure,vibration,errorID_error1,errorID_error2,errorID_error3,errorID_error4,...,comp_comp1,comp_comp2,comp_comp3,comp_comp4,age,model_model1,model_model2,model_model3,model_model4,failure
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,18,0,0,1,0,none
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,18,0,0,1,0,none

## Prepare Train and Test Data

In [6]:
X = df.drop(['datetime', 'machineID', 'failure'], axis = 1)

In [7]:
X.head()

,volt,rotate,pressure,vibration,errorID_error1,errorID_error2,errorID_error3,errorID_error4,errorID_error5,comp_comp1,comp_comp2,comp_comp3,comp_comp4,age,model_model1,model_model2,model_model3,model_model4
0,176.217853,418.504078,113.077935,45.087686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18,0,0,1,0
1,162.879223,402.747490,95.460525,43.413973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18,0,0,1,0
2,170.989902,527.349825,75.237905,34.178847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18,0,0,1,0
3,162.462833,346.149335,109.248561,41.122144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18,0,0,1,0
4,157.610021,435.376873,111.886648,25.990511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18,0,0,1,0

In [8]:
# Final Trained Value

X_final_train = X.values

In [9]:
X_final_train[1]

array([162.8792229 , 402.74748957,  95.46052538,  43.41397268,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,  18.        ,   0.        ,   0.        ,
         1.        ,   0.        ])

In [10]:
y_final = df['failure']
y_final[1]

'none'

In [11]:
y_final_train = y_final.values

In [12]:
y_final_train[1]

'none'

## Train Test Split

In [13]:
from sklearn.model_selection import train_test_split

C:\Users\06533V744\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_final_train, y_final_train, test_size=0.20, shuffle=False)

In [15]:
X_train, X_cv, y_train, y_cv = train_test_split(X_train, y_train, test_size=0.20, shuffle=False)

In [16]:
print('X_train Observations: %d' % (len(X_train)))
print('y_train Observations: %d' % (len(y_train)))

print('X_cv Observations: %d' % (len(X_cv)))
print('y_cv Observations: %d' % (len(y_cv)))

print('X_test Observations: %d' % (len(X_test)))
print('y_test Observations: %d' % (len(y_test)))

X_train Observations: 561413
y_train Observations: 561413
X_cv Observations: 140354
y_cv Observations: 140354
X_test Observations: 175442
y_test Observations: 175442

## Apply model Random Forest Classifier

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
model = RandomForestClassifier(n_jobs=-1)

In [22]:
model.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1)

## Evaluation

In [23]:
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score

In [25]:
y_pred = model.predict(X_test)

In [30]:
y_pred

array(['none', 'none', 'none', ..., 'none', 'none', 'none'], dtype=object)

In [34]:
confusion_matrix(y_test, y_pred)

array([[    14,      3,      1,      3,     42],
       [     3,     36,      1,      4,     38],
       [     0,      2,     38,      1,     20],
       [     1,      3,      2,     30,     18],
       [     3,     10,      3,      0, 175166]], dtype=int64)

### Observation 

    1. The Recall value Random Forest model are satisfactory without performing the feature engineering and hyper-parameter tuning.
    2. After performing EDA, it is observed that this problem can be modeled as time series problem.
    3. To increase the performance of the ML models, it is better to perform time series feature engineering technique and do hyper-parameter tuning in the next step.